<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parpin (Paralon Pintar)</title>
</head>

<body>
    <div id="app"></div>
    {{ script('/js/main.js') }}
</body>

</html>